// button.component.scss

@use './src/globalStyles.scss' as *;

:host[app-button],
:host[app-raised-button],
:host[app-stroked-button],
:host[app-tonal-button] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  padding: 8px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.03em;
  border: 1px solid;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;

  // Миксин для raised-button
  @mixin coloring-raised-button($color-variable, $background-variable, $border-variable) {
    color: $color-variable;
    background-color: $background-variable;
    border-color: $border-variable;
  }

  // Миксин для hover-состояния task control btns
  @mixin raised-button-hover($bg-hover, $border-hover) {
    &:hover {
      .covering-background {
        background-color: transparent;
      }

      background-color: $bg-hover;
      border-color: $border-hover;
    }
  }

  // Миксин для task control btns
  @mixin control-btns() {
    font-size: 11px;
    line-height: 16px;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
  }

  // Миксин для stroked-button
  @mixin coloring-stroked-button($color-variable, $border-variable) {
    border: 1px solid $border-variable;
    color: $color-variable;
  }

  @mixin coloring-tonal-button($color-variable) {
    $bgTonalColor: color-mix(in srgb, $color-variable 16%, transparent);
    border: 1px solid $bgTonalColor;
    color: $color-variable;
    background-color: $bgTonalColor;
  }

  // ОБЩИЙ КЛАСС ДЛЯ raised - кнопки с заполнением фона
  &.app-raised-button {
    // определяем цвета под конкретный тип кнопки
    // ТЕКСТ, ФОН, КОНТУР

    &.primary {
      @include coloring-raised-button($white-color, $primary-color, $primary-color);
    }

    &.orange {
      @include coloring-raised-button($orange-color, $work-time-vacation-color, $work-time-vacation-color);
    }

    &.grey {
      @include coloring-raised-button($text-body, $icon-border-secondary, $icon-border-secondary);
    }

    &.red {
      @include coloring-raised-button($red-color, $work-time-sick-color, $work-time-sick-color);
    }

    &.secondary {
      @include coloring-raised-button($text-secondary, $btn-tertiary, $btn-tertiary);
    }

    &.danger {
      @include coloring-raised-button($warn-color, $btn-error, $btn-error);
    }

    &.delete {
      @include coloring-raised-button($white-color, $btn-delete, $btn-delete);
      font-size: 500;
    }

    &.service {
      @include coloring-raised-button($text-body, $btn-tertiary, $btn-tertiary);
    }

    &.btn-tertiary {
      @include coloring-raised-button($icon-secondary, $btn-tertiary, $btn-tertiary);
    }

    &.accent {
      @include coloring-raised-button($white-color, $accent-color, $accent-color);
    }

    // task control btns
    &.back {
      @include coloring-raised-button($btn-red, $btn-red-bg, $btn-red-border);
      @include raised-button-hover($btn-red-bg-hover, $btn-red-border-hover);
      @include control-btns;
    }

    &.work {
      @include coloring-raised-button($btn-blue, $btn-blue-bg, $btn-blue-border);
      @include raised-button-hover($btn-blue-bg-hover, $btn-blue-border-hover);
      @include control-btns;
    }

    &.forward {
      @include coloring-raised-button($btn-green, $btn-green-bg, $btn-green-border);
      @include raised-button-hover($btn-green-bg-hover, $btn-green-border-hover);
      @include control-btns;
    }

    &.pause {
      @include coloring-raised-button($btn-secondary, $btn-secondary-bg, $btn-secondary-border);
      @include raised-button-hover($btn-secondary-bg-hover, $btn-secondary-border-hover);
      @include control-btns;
    }
  }

  // ОБЩИЙ КЛАСС ДЛЯ stroked - (полу)прозрачной кнопки с контуром
  &.app-stroked-button {
    // определяем цвета под конкретный тип кнопки
    // ТЕКСТ, КОНТУР

    &.primary {
      @include coloring-stroked-button($primary-color, $primary-color);
    }

    &.secondary {
      @include coloring-stroked-button($text-secondary, $icon-border-secondary);
    }

    &.danger {
      @include coloring-stroked-button($warn-color, $warn-color);
    }

    &.delete {
      @include coloring-stroked-button($white-color, $btn-delete);
    }
  }

  // ОБЩИЙ КЛАСС ДЛЯ tonal - фон с непрозрачностью
  &.app-tonal-button {
    // определяем цвета под конкретный тип кнопки
    // ФОН

    &.primary {
      @include coloring-tonal-button($primary-color);
    }
  }

  &:hover {
    // Затемнение в светлой теме, осветление в тёмной
    .covering-background {
      background-color: $state-list-item-hover;
    }
  }

  // а он для чего нужен?
  &:active {
    .covering-background {
      background-color: $state-list-item-selected;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;

    .covering-background {
      background-color: transparent;
    }
  }

  &.invalid {
    opacity: 0.3;
  }

  &.narrow {
    min-width: 89px;
  }

  &.wide {
    min-width: 100px;
  }

  &.small {
    padding: 6px 12px;
  }

  &.full-width {
    max-width: none;
    width: 100%;
  }

  &.with-icon {
    .content {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }

  // Накладываемый слой
  .covering-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  // Содержимое кнопки
  .content {
    white-space: pre;
    position: relative;
    z-index: 2;
  }
}
