// product-grid.component.scss

@use "globalStyles.scss" as *;

:host {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $spacing-md;
}

.grid-item {
  grid-column: span 3;
}

.grid-empty {
  grid-column: 1 / -1;
  text-align: center;
  padding: 60px 20px;
}

@media (max-width: 1200px) and (min-width: 901px) {
  .grid-item {
    grid-column: span 4;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .grid-item {
    grid-column: span 6;
  }
}

@media (max-width: 600px) {
  .grid-item {
    grid-column: 1 / -1;
  }
}
