<!-- input-text.component.html -->

@let _id = id(); @let _config = config();

<app-inputs-wrapper
  [id]="_id"
  [config]="_config"
  [validateError]="validateError()"
  [style]="_config.cssStyles ?? {}"
>
  <div class="input-place" [ngClass]="inputClasses()">
    @if( _config.prefixIcon ){
    <app-icon [src]="_config.prefixIcon"></app-icon>
    }

    <ng-content select="[prefix]" />

    <input
      #inputElement
      class="input-field"
      [style]="_config.inputStyles ?? {}"
      [ngClass]="_config.inputClass"
      [type]="_config.inputType || 'text'"
      [attr.inputmode]="_config.inputMode"
      [id]="_id"
      [value]="value() ?? ''"
      [disabled]="_config.disabled"
      [readonly]="_config.readonly"
      [placeholder]="_config.noTranslate ? placeholder() : placeholder()"
      [maxLength]="maxChars()"
      (input)="onInput($event)"
      (change)="onChange($event)"
      (keydown)="onKeyDown($event)"
      (keypress)="onKeyPress($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
    />

    <ng-content select="[suffix]" />
  </div>
</app-inputs-wrapper>
