<!-- input-text.component.html -->

@let _id = id();
@let _config = config();
@let _tooltip = tooltip();
@let _valueTooltip = valueTooltip();

<app-inputs-wrapper [id]="_id" [config]="_config" [validateError]="validateError()" [style]="_config.cssStyles ?? {}">
  <div class="input-place" [ngClass]="inputClasses()">
    @if( _config.prefixIcon ){
      <app-icon [src]="_config.prefixIcon"></app-icon>
    }

    <ng-content select="[prefix]" />

    <input #inputElement class="input-field"
      [style]="_config.inputStyles ?? {}"
      [ngClass]="_config.inputClass"
      [type]="_config.inputType || 'text'"
      [attr.inputmode]="_config.inputMode"
      [id]="_id"
      [value]="value() ?? ''"
      [disabled]="_config.disabled"
      [readonly]="_config.readonly"
      [placeholder]="_config.noTranslate ? placeholder() :  placeholder() | lang"
      [maxLength]="maxChars()"
      (input)="onInput( $event )"
      (change)="onChange( $event )"
      (keydown)="onKeyDown( $event )"
      (keypress)="onKeyPress( $event )"
      (blur)="onBlur( $event )"
      (focus)="onFocus( $event )"
      [tp]="tooltipRef"
      [tpIsEnabled]="_valueTooltip !== undefined"
      [tpDelay]="_tooltip?.delay ?? 800"
      [tpPlacement]="_tooltip?.placement ?? 'auto'"
      [tpMaxWidth]="_tooltip?.maxWidth ?? 'none'"
      [tpClassName]="_tooltip?.className ?? ''" />

    <ng-content select="[suffix]" />

  </div>
</app-inputs-wrapper>

<ng-template #tooltipRef>{{ _valueTooltip }}</ng-template>
