<!-- header.component.html -->

<header class="header">
  <!-- Логотип -->
  <div class="flex-row center-row header__logo">
    <a [routerLink]="['/', PageRoute.Main]" class="header__link">
      <app-icon src="assets/imgs/logo.png" [size]="68" />
    </a>
    <span class="header__text">Pizza<br />Cheff</span>
  </div>

  <!-- Кнопка бургер-меню (только на мобильных) -->
  @if(!isMenuOpen()){
  <button type="button" class="burger" (click)="toggleMenu()" aria-label="Меню">
    <span>Меню</span>
    <span class="burger__icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
  }

  <!-- Навигация -->
  <nav
    class="flex-grow flex-row center-all header__nav"
    [class.open]="isMenuOpen()"
  >
    @for (link of navLinks; track link.path) {

    <!-- Кнопки -->
    <a
      [routerLink]="['/', link.path]"
      routerLinkActive="header__navlink_active"
      class="header__navlink"
    >
      {{ link.label }}
    </a>
    }

    <!-- Корзина -->
    <div class="flex-row center-all cart">
      <span class="flex-row center-row cart__label">Корзина:</span>
      <span class="flex-row center-all cart__count">{{
        cartTotalCount()
      }}</span>
    </div>
  </nav>
</header>

<!-- Оверлей для закрытия меню при клике вне его -->
@if(isMenuOpen()) {
<div class="overlay" (click)="closeMenu()"></div>
}
