// header.component.scss

@use "globalStyles.scss" as *;

:host {
  display: flex;
  width: 100%;
  background-color: $white-color;
  box-shadow: $shadow-normal;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-sm $spacing-md;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    flex-shrink: 0;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__text {
    color: $text-header;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }

  &__nav {
    gap: $spacing-2xl;
  }

  &__navlink {
    position: relative;
    color: $text-link;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      color: $text-primary;
    }

    &_active::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      height: 3px;
      background-color: $text-secondary;
      border-radius: 2px;
    }
  }
}

.cart {
  gap: $spacing-sm;
  padding: $spacing-sm;
  border: 1px solid $text-primary;
  border-radius: 8px;

  &__count {
    min-width: $spacing-md;
    min-height: $spacing-md;
    padding: 0 $spacing-xs;
    background-color: $btn-color;
    color: $text-description;
    border-radius: 12px;
    font-weight: 600;
  }
}

// Адаптивность для планшетов
@media (max-width: 900px) {
  .header {
    padding: $spacing-xs $spacing-sm;

    &__nav {
      gap: $spacing-xl;
    }

    &__navlink {
      font-size: 16px;
    }
  }
}

// Адаптивность для мобильных устройств
@media (max-width: 600px) {
  .header {
    &__nav {
      gap: $spacing-lg;
    }

    &__navlink {
      font-size: 14px;

      &_active::after {
        bottom: -6px;
        height: 2px;
      }
    }
  }
}
