// _reset.scss

@use "./colors" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 28px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 21px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: fit-content;
}

input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: $text-primary;

  &[type="file"] {
    display: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  @extend input;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

router-outlet {
  display: none;
}
