<!-- modal-window.component.html -->

<div
  class="modal-body"
  [ngClass]="config().type"
  [style]="modalStyles()"
  [style.backgroundColor]="bgColor()"
  (click)="onModalBodyClick($event)"
>
  <!-- Кнопка закрытия модалки -->
  <!-- Отображается в desktop, когда передан isShowCloseBtn -->
  <!-- Отображается в mobile, когда не передан title и передан isShowCloseBtn -->
  @if( ( !isMobile() && config().isShowCloseBtn ) || ( isMobile() &&
  config().isShowCloseBtn && !title() ) ){
  <button
    type="button"
    class="close-btn"
    (click)="close(); $event.stopPropagation()"
  >
    &#10005;
  </button>
  }

  <!-- Заголовок модалки -->
  <header>
    <!-- Название и кнопка "назад" -->
    @if( title() ){
    <h3 [style.backgroundColor]="bgColor()">
      <!-- Кнопка "назад" для мобильной версии, аналог "закрыть" в десктопе -->
      @if( isMobile() && config().isShowCloseBtn ){
      <app-icon name="back" [size]="18" color="service" (click)="close()" />
      }
      <!-- Текст названия -->
      {{ title() }}
    </h3>
    }
    <!-- Комментарий -->
    @if( note() ){ @if( isSafeHtml() ){
    <span
      [ngClass]="noteClass()"
      class="modal-note"
      [innerHTML]="note()"
    ></span>
    } @else {
    <span [ngClass]="noteClass()" class="modal-note">{{ note() }}</span>
    } }
  </header>

  <!-- Содержимое модалки -->
  <div class="modal-content" [style.overflowY]="yScrollType()">
    <!-- Содержимое модального окна -->
    <ng-container #modalWindowContainer />
  </div>

  <!-- Нижняя часть модалки -->
  @if( type() !== 'info' ){
  <footer [style.backgroundColor]="bgColor()">
    <!-- Кнопки в дефолтном или указанном порядке -->
    @for( btn of modalButtons(); track btn.key ){ @if( btn.key === 'cancel' ){
    <button
      app-stroked-button
      [class]="btn.class"
      (click)="buttonAction(btn.key)"
    >
      {{ btn.title }}
    </button>
    } @else if( btn.key === 'save' || btn.key === 'delete' ){
    <button
      app-raised-button
      [class]="btn.class"
      [disabled]="
        !formIsValid() || (actionInProcess && actionInProcess()) || btn.disabled
      "
      (click)="buttonAction(btn.key)"
    >
      @if( actionInProcess && actionInProcess() ){
      <app-icon
        name="small-loading"
        [size]="14"
        color="white"
        class="spinner"
      />
      } @else {
      {{ btn.title }}
      }
    </button>
    } @else {
    <button
      app-button
      [type]="btn.type"
      [class]="btn.class"
      (click)="buttonAction(btn.key)"
    >
      {{ btn.title }}
    </button>
    } }
  </footer>
  }
</div>

<!-- Шаблон группы полей форм для передачи в содержимое модального окна -->
<ng-template #formGroup>
  <!-- @if( formItems && formItems() ){
  <app-form [items]="formItems()" [config]="formConfig?.()" [(inputs)]="formInputs" />
  } -->
</ng-template>
