// main-page.component.scss

@use "globalStyles.scss" as *;

:host {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $spacing-md;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

section {
  grid-column: 1 / -1;
  margin-top: $spacing-lg;
}

.section-title {
  text-align: center;
}

.loading {
  text-align: center;
  padding: $spacing-lg $spacing-md;
  color: $text-service;
}

.order {
  margin: $spacing-lg 0;
}

@media (max-width: 900px) {
  .order {
    margin: $spacing-md 0;
  }
}

@media (max-width: 600px) {
  .order {
    margin: $spacing-sm 0;
  }
}
