<!-- gallery.component.html -->

@let _config = config(); @let _isMobile = isMobile(); @let _currentItem =
currentItem(); @let _items = items();

<div #galleryContainer class="swiper-container swiper-gallery">
  @if( _isMobile && _currentItem ){
  <header class="mobile-header">
    <button type="button" class="mobile-header-btn" (click)="close()">
      <app-icon name="back" color="white" [size]="18" />
    </button>
    <div class="mobile-header-user"></div>
  </header>
  } @else {
  <app-icon
    class="close-btn"
    color="service"
    [name]="'clear'"
    [size]="12"
    (click)="close()"
  />
  }

  <div class="swiper-wrapper swiper-wrapper-main">
    @for( slide of _items; track slide.ID ){
    <div class="swiper-slide swiper-gallery-card">
      <!-- Swiper по умолчанию поддерживает zoom только для тегов img, picture или canvas-->
      <div class="swiper-zoom-container">
        <img
          [src]="slide.previewUrl"
          [alt]="slide.name || 'Изображение'"
          loading="lazy"
          (loadstart)="onLoadedStateChange(slide, 'loading')"
          (error)="onLoadedStateChange(slide, 'failed')"
          (load)="onLoadedStateChange(slide, 'loaded')"
        />
      </div>
    </div>
    }
  </div>

  @if( _isMobile ){ @if( _currentItem!.description ){
  <div class="mobile-description">{{ _currentItem!.description }}</div>
  } } @else { @if( _currentItem!.description ){
  <div class="info-block">{{ _currentItem!.description }}</div>
  }
  <footer class="footer">
    <div class="footer__content">
      <div class="footer__preview">
        @if( !_config.hideThumbs && _items.length > 1 ){
        <div #thumbsContainer class="swiper-container swiper-thumbs">
          <div class="swiper-wrapper swiper-thumbs-wrapper">
            @for( slide of _items; track slide.ID){
            <div class="swiper-slide thumb">
              <img
                [src]="slide.iconUrl"
                [alt]="slide.name || 'thumb-' + slide.ID"
                loading="lazy"
              />
            </div>
            }
          </div>
        </div>
        }
      </div>

      <div class="file-info-block">
        <div class="file-info-text">
          <span class="file-name">{{ _currentItem!.name }}</span>
          <span class="file-details"
            >{{ _currentItem!.ext }}{{ _currentItem!.sizeStr }}</span
          >
        </div>
      </div>
    </div>
  </footer>

  @if( _items.length ){
  <div class="swiper-controls">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  } }
</div>
