<!-- product-card.component.html -->

<div class="image-wrapper">
  <img
    [src]="product().imageUrl"
    [alt]="product().name"
    class="w-h-100 product-card__image"
    loading="lazy"
  />
</div>

<div class="card">
  <h5 class="card__title">{{ product().name }}</h5>

  <p class="card__description">{{ product().description }}</p>

  <div class="card__footer">
    <button
      app-button
      color="brand"
      type="raised"
      class="full-width"
      (click)="onAddToCart()"
    >
      В корзину
    </button>
  </div>
</div>
