// globalStyles.scss

@use "sass:map";
@forward "./styles/breakpoints.scss";

@font-face {
  font-family: "Muller Regular";
  src: url("/src/assets/fonts/Muller-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin noScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

// ==========================================
// =============/VARIABLES\==============
// ==========================================

:root {
  --modal-vertical-spacing: 12px;
  --modal-horizontal-spacing: 12px;
}

/// Полная ширина экрана с учётом dynamic view width или view width
$full-screen-width: calc(100 * var(--dvw));
/// Полная высота экрана с учётом dynamic view height или view height
$full-screen-height: calc(100 * var(--dvh));

$modal-vertical-spacing: var(--modal-vertical-spacing);
$modal-horizontal-spacing: var(--modal-horizontal-spacing);

// =============/COLORS\=============
$black-color:               #000000;
$service-color:             #868C94;
$white-color:               #FFFFFF;
$blue-color:                #16A4E3;
$green-color:               #1BBA69;
$red-color:                 #CE0000;
$pink-color:                #F5CCCC;
$orange-color:              #FF9000;

// =============/BACKGROUND\=============
$bg-main:                   #FFFFFF;

// =============/TEXT\=============
$text-primary:              #b99150;
$text-secondary:            #ffaf18;
$text-service:              #382400;
$text-description:          #181a1a;

// =============/BUTTONS\=============
$btn-color:                 #ffaf18;

// =============/BORDERS\=============
$border-input:              #b99150;

// =============/BOX SHADOWS\=============
$menu-shadow:              '0 12px 32px rgba(0,0,0,0.72)';

// ==========================================
// =============/RESET\==============
// ==========================================

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 28px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 21px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: fit-content;
}

input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: $text-primary;

  &[type="file"] {
    display: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  @extend input;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

router-outlet {
  display: none;
}

body {
  margin: 0;
  background-color: $bg-main;
  color: $text-primary;
  font-family: "Muller Regular", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;

  * {
    @include noScrollBar;
  }
}

// ==========================================
// =============/REUSABLE CLASSES\==============
// ==========================================

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 12px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 12px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.center-all {
  justify-content: center;
  align-items: center;
}

.center-col {
  justify-content: center;
}

.center-row {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.width-auto,
.w-auto {
  width: auto !important;
}

.grid-span-1,
.grid-span-2,
.grid-span-3,
.grid-span-4 {
  width: -webkit-fill-available !important;
}

.grid-span-1 {
  grid-column: span 1;
}

.grid-span-2 {
  grid-column: span 2;
}

.grid-span-3 {
  grid-column: span 3;
}

.grid-span-4 {
  grid-column: span 4;
}
